#pbpm { display: none; }
#diagram { width: 100%; }
body { padding-top: 20px; }
.tabbody {
  padding: 20px;
  border-color: #ffffff #dee2e6 #dee2e6 #dee2e6;
  border-style: solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.tabbody.datagrid table.table td { font-size: 18pt; }
.tabbody.datagrid table.table th { font-size: 18pt; }
/*
.tabbody.datagrid table.table thead>tr>th:first-child { width: 20%; }
.tabbody.datagrid table.table thead>tr>th:last-child { width: 20px; }
*/
.tabbody.datagrid table.table button.btn { font-size: 12pt; font-weight: bold; }
.tabbody.datagrid table.table .btn-group { width: 100%; }