<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PBPM</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <div id="pbpm">
      <div class="container-fluid" v-if="landscape != null">
        <div class="row editRouter" v-if="tab == 'editRouter'">
          <h1>[[form.code]] - [[landscape.router[form.code].description]]</h1>
          <button class="btn btn-secondary exitButton" v-on:click="selectTab('router')">Exit</button>
          <div class="col datagrid">
            <table class="table">
              <thead>
                <tr>
                  <td>
                    <input type="text" class="form-control" v-model="form.add.action_code" placeholder="Code" @keyup.enter="addStationAction()">
                  </td>
                  <td>
                    <input type="text" class="form-control" v-model="form.add.description" placeholder="Description" @keyup.enter="addRouterAction()">
                  </td>
                  <td rowspan="2">
                    <button class="btn btn-success form-control"
                           :disabled="form.add.action_code.length == 0 || form.add.expression.length == 0"
                            v-on:click="addRouterAction()">&plus;</button>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <textarea class="form-control" v-model="form.add.expression" rows="3" placeholder="A python compliant logical expression..."></textarea>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr v-for="record, i in landscape.router[form.code].actions">
                  <td>[[record.action_code]]<br />[[record.description]]</td>
                  <td>
                    <pre>[[record.expression]]</pre>
                  </td>
                  <td>
                    <button class="btn btn-danger form-control" v-on:click="delRouterAction(i)">&times;</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row editStation" v-else-if="tab == 'editStation'">
          <h1>[[form.code]] - [[landscape.station[form.code].name]]</h1>
          <button class="btn btn-secondary exitButton" v-on:click="selectTab('station')">Exit</button>
          <div class="col datagrid">
            <table class="table">
              <thead>
                <tr>
                  <td>
                    <input type="text" class="form-control" v-model="form.add.code" placeholder="Code" @keyup.enter="addStationAction()">
                  </td>
                  <td>
                    <input type="text" class="form-control" v-model="form.add.label" placeholder="Label" @keyup.enter="addStationAction()">
                  </td>
                  <td>
                    <input type="color" class="form-control" v-model="form.add.color">
                  </td>
                  <td>
                    <button class="btn btn-success form-control" v-on:click="addStationAction()">&plus;</button>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr v-for="record, i in landscape.station[form.code].actions">
                  <td v-bind:style="{ 'background-color': record.color }"></td>
                  <td>[[record.code]]</td>
                  <td>[[record.label]]</td>
                  <td>
                    <button class="btn btn-danger form-control" v-on:click="delStationAction(i)">&times;</button>
                  </tr>
                </tr>
              </tbody>
            </table>
            <pre>[[landscape.station[form.code].actions]]</pre>
          </div>
        </div>
        <div class="row editMap" v-else-if="tab == 'editMap'">
          <h1>[[form.code]] - [[landscape.map[form.code].name]]</h1>
          <button class="btn btn-secondary form-control exitButton" v-on:click="selectTab('map')">Exit</button>
          <div class="col-6">
            <div class="input-group mb-1">
              <span class="input-group-text" id="basic-addon1">Add a Station</span>
              <select class="form-control" v-on:change="mapAddStation" v-model="form.add.station_code">
                <option></option>
                <option v-for="record, code in landscape.station" :value="code">[[code]]: [[record.name]]</option>
              </select>
            </div>
            <div class="input-group mb-1">
              <span class="input-group-text" id="basic-addon1">Add a Service</span>
              <select class="form-control" v-on:change="mapAddService" v-model="form.add.service_code">
                <option></option>
                <option v-for="record, code in landscape.service" :value="code">[[code]]</option>
              </select>
            </div>
            <div class="input-group mb-1">
              <span class="input-group-text" id="basic-addon1">Add a Router</span>
              <select class="form-control" v-on:change="mapAddRouter" v-model="form.add.router_code">
                <option></option>
                <option v-for="record, code in landscape.router" :value="code">[[code]]</option>
              </select>
            </div>
            <ol class="list-group list-group-numbered">
              <li class="list-group-item d-flex justify-content-between align-items-start"
                 :class="{ 'active': form.edit != null && form.edit.length == 1 && form.edit[0] == i }"
                  v-for="node, i in landscape.map[form.code].config"
                  v-on:click="mapSelect(i)">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">[[node.code]]</div>
                  <span v-if="landscape.station[node.code] != undefined">[[landscape.station[node.code].name]]</span>
                  <div class="list-group stationActions" v-if="landscape.station[node.code] != undefined && landscape.station[node.code].actions != undefined">
                    <button v-for="action, a in node.actions"
                            type="button"
                            class="list-group-item list-group-item-action"
                           :class="{ 'active': form.edit != null && form.edit.length == 2 && form.edit[0] == i && form.edit[1] == a }"
                            v-on:click.stop="mapSelect(i, a)">
                      <span class="badge rounded-pill" style="margin-right: 8px;" v-bind:style="{ 'background-color': landscape.station[node.code].actions[a].color }">&nbsp;&nbsp;&nbsp;</span>
                      [[action.code]] - [[landscape.station[node.code].actions[a].label]]
                    </button>
                  </div>
                  <div class="list-group routerActions" v-if="landscape.router[node.code] != undefined && landscape.router[node.code].actions != undefined">
                    <button v-for="action, a in node.actions"
                            type="button"
                            class="list-group-item list-group-item-action"
                           :class="{ 'active': form.edit != null && form.edit.length == 2 && form.edit[0] == i && form.edit[1] == a }"
                            v-on:click.stop="mapSelect(i, a)">
                      [[action.code]] - [[landscape.router[node.code].actions[a].description]]
                    </button>
                  </div>
                </div>
                <span class="badge bg-primary rounded-pill" v-if="node.type == 'station'">Station</span>
                <span class="badge bg-success rounded-pill" v-if="node.type == 'service'">Service</span>
                <span class="badge bg-info rounded-pill" v-if="node.type == 'router'">Router</span>
                <span class="badge bg-danger rounded-pill" style="margin-left: 6px;" v-on:click.stop="delMapConfigItem(i)">&times;</span>
              </li>
            </ol>
          </div>
          <div class="col-6">
            <div v-if="form.edit != null">
              <div class="row" v-if="landscape.map[form.code].config[form.edit[0]].code != 'END'">
                <div class="input-group mb-1">
                  <span class="input-group-text" id="basic-addon1">Leads to...</span>
                  <select class="form-control" v-model="form.leads_to" v-on:change="linkMap">
                    <option></option>
                    <option v-for="record, i in landscape.map[form.code].config" :value="i" v-if="i != form.edit[0]">[[ landscape | configStepLabel(record, form.code, i) ]]</option>
                  </select>
                  <button v-if="form.leads_to != '' && [ 'station', 'router' ].indexOf(landscape.map[form.code].config[form.leads_to].type) == -1"
                          class="btn btn-outline-secondary"
                          type="button"
                          v-on:click="mapSelect(form.leads_to)">🡆</button>
                </div>
              </div>
            </div>
            <hr />
            <div id="diagram"></div>
          </div>
        </div>
        <div class="row tables" v-else>
          <div class="col">
            <ul class="nav nav-tabs">
              <li class="nav-item" v-on:click="selectTab('welcome')">
                <a class="nav-link" :class="{ 'active': tab == 'welcome' }" aria-current="page" href="#">Welcome</a>
              </li>
              <li class="nav-item" v-for="record, t in cfg.table" v-on:click="selectTab(t)">
                <a class="nav-link" :class="{ 'active': tab == t }" aria-current="page" href="#">[[record.label]]</a>
              </li>
            </ul>
            <div class="tabbody" v-if="tab == 'welcome'">
              <h1>Welcome</h1>
            </div>
            <div class="tabbody datagrid" v-if="[ 'station', 'service', 'router', 'owner', 'map' ].indexOf(tab) != -1">
              <div class="row" v-if="form != null">
                <div class="col">
                  <table class="table">
                    <thead>
                      <tr>
                        <td>
                          <input type="text" class="form-control" v-model="form.code" @keyup.enter="addItem(tab)" placeholder="Code">
                        </td>
                        <td v-for="label, field in cfg.table[tab].fields">
                          <input type="text" class="form-control" v-model="form[field]" @keyup.enter="addItem(tab)" :placeholder="label">
                        </td>
                        <td>
                          <button class="btn btn-success form-control" v-on:click="addItem(tab)">&plus;</button>
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="record, code in landscape[tab]">
                        <td>[[code]]</td>
                        <td v-if="form.edit_code == code" v-for="label, field in cfg.table[tab].fields">
                          <input type="text" class="form-control" v-model="landscape[tab][form.edit_code][field]" @keyup.enter="editItemEnd(tab);">
                        </td>
                        <td v-else v-on:click="editItemBegin(tab, code)">[[(record[field])]]</td>
                        <td>
                          <div class="btn-group" role="group" aria-label="Basic example">
                            <button class="btn btn-primary form-control" v-if="tab == 'map'" v-on:click="editMap(code)">&#128393;</button>
                            <button class="btn btn-primary form-control" v-if="tab == 'station'" v-on:click="editStation(code)">&#128393;</button>
                            <button class="btn btn-primary form-control" v-if="tab == 'router'" v-on:click="editRouter(code)">&#128393;</button>
                            <button class="btn btn-danger form-control" v-on:click="delItem(tab, code)">&times;</button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" v-if="cfg.debug">
          <div class="col">
            <h3>Stations</h3>
            <pre>[[landscape.station]]</pre>
          </div>
          <div class="col">
            <h3>Routers</h3>
            <pre>[[landscape.router]]</pre>
            <h3>Services</h3>
            <pre>[[landscape.service]]</pre>
            <h3>Form</h3>
            <pre>[[form]]</pre>
          </div>
          <div class="col">
            <h3>Maps</h3>
            <pre>[[landscape.map]]</pre>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/gojs/release/go-debug.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="index.js"></script>
  </body>
</html>
